
footer {
    background-color: #f8f9fa;
    text-align: center;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    
}

.dropdown-container{
    background-color:blue;
    height:auto;
    width:100%;
}

#youtility_logs{
    
    display: none;
    width: 100%;
    
    height: auto;
}

#mobileserives_logs{
    display: none;
    width: 100%;
    height: 95vh;
}

#reports_logs{
    display: none;
    width: 100%;
    height: 98vh;
}

#error_logs{
    display: none;
    width: 100%;
    height: 98VH;
}

footer .container p{
    margin:0px;
}
/* 
label, input{ 
    display: none;
} */


.modal-table td {
    vertical-align: top;
    text-align: left; 
    white-space: pre-wrap;
    padding: 10px;
    overflow-x: auto;
}

.log-message {
    text-align: left; 
    white-space: pre-wrap;
    overflow-x: auto;
}


.sidebar {
    min-height: 100vh; /* Full height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #01569a; /* Sidebar background color */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* Sidebar links */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Main content */
.main-content {
    /* margin-left: 250px; */
    margin-left: 190px;
}


.material-symbols-outlined{
  position: absolute;
  margin-left: -370px;
}



.dashboard-header{
    width: 100%;
    text-align: center;
    background-color: #01569a;
    padding: 5px;
    margin:0px 0px 5px 0px;
    color: white;
}


#dashboard-top{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}


.dashboard-content{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;

}


.logs-portlet{
    flex:1;
    height: inherit;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.dashboard-graph{
    margin-top: 10px;
    background-color: white;
    flex: 1;
    justify-content: space-around;
    /* height: 490px;
    width: 1100px; */
    display: flex;
    /* border: 1px solid black; */
}

.logs-portlet{
    display: flex;
    flex-direction: column;
}

.logs-portlet > div{
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    font-size: 1.4rem;
    flex: 1;
    color: #01569a;
    background-color: #f5f8fa;
    border: 3px solid #ffffff;
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.2);
}



.portlet-name{
    color: white;
    cursor: pointer;
}

.portlet-name-header{
    height: 80%;
    width: 90%;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 500;
    background-color:#01569a ;
    color: white;
}

.center-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


.display-flex{
    display: flex;
    justify-content: space-evenly;
}

.direction-flex{
    flex: row;
}


.material-symbols-outlined{
    font-size: 40px !important;
    
}


.logo-warning{
    color: black !important;
}

.logo-error{
    color:orange!important;
}

.logo-critical{
    color:'#FF6B6B '!important;
}

#dropdownMenuButton1{
    margin: 10px;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

.chart-container{
    background-color: white;
    height: 500px;
    margin-top: 30px;
    width: 480px;
  }

#myChart{
  height: 500px;
  width: 1100px;
}

