

#youtility_logs{
    display: none;
    width: 89%;
    padding: 1em;
    margin-left: 12em;
    height: auto;
    @media screen and (max-width: 768px) {
      width: 100%; /* Change width to full width on smaller screens */
      margin-left: 0; /* Remove left margin on smaller screens */
  }
}

#mobileserives_logs{
    display: none;
    width: 89%;
    padding: 1em;
    margin-left: 12em;
    height: auto;
}

#reports_logs{
    display: none;
    width: 89%;
    padding: 1em;
    margin-left: 12em;
    height: auto;
}

#error_logs{
    display: none;
    width: 89%;
    padding: 1em;
    margin-left: 12em;
    height: auto;
}

.modal-table td {
    vertical-align: top;
    text-align: left; 
    padding: 10px;
    overflow-x: auto;
}

.log-message {
    text-align: left; 
    white-space: pre-wrap;
    overflow-x: auto;
}

.modal-body span{
  padding-left: 20px;
}

.sidebar {
    min-height: 100vh; /* Full height */
    width: 11%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #01569a; /* Sidebar background color */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1.25em;
}

/* Sidebar links */
.sidebar a {
    padding: 0.625em 0.9375em;
    text-decoration: none;
    font-size: 1.125em;
    color: white;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Main content */
.main-content {
    /* margin-left: 250px; */
    margin-left: 11.875em;
}



.dashboard-header{
    width: 100%;
    text-align: center;
    background-color: #01569a;
    padding: 0.3125em;
    margin:0px 0px 0.3125em 0px;
    color: white;
}


#dashboard-top{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}


.dashboard-content{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;

}


.logs-portlet{
    flex:1;
    height: inherit;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.dashboard-graph{
    margin-top: 10px;
    background-color: white;
    flex: 1;
    justify-content: space-around;
    /* height: 490px;
    width: 1100px; */
    display: flex;
    /* border: 1px solid black; */
}

.logs-portlet{
    display: flex;
    flex-direction: column;
}

.logs-portlet > div{
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    font-size: 1.4rem;
    flex: 1;
    color: #01569a;
    background-color: #f5f8fa;
    border: 3px solid #ffffff;
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.2);
}



.portlet-name{
    color: white;
    cursor: pointer;
}

.portlet-name-header{
    height: 80%;
    width: 90%;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 500;
    background-color:#01569a ;
    color: white;
}

.center-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


.display-flex{
    display: flex;
    justify-content: space-evenly;
}

.direction-flex{
    flex: row;
}


.material-symbols-outlined{
    font-size: 40px !important;
    
}


.logo-warning{
    color: black !important;
}

.logo-error{
    color:orange!important;
}

.logo-critical{
    color:'#FF6B6B '!important;
}

#dropdownMenuButton1{
    margin: 10px;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

.chart-container{
    background-color: white;
    height: 500px;
    margin-top: 30px;
    width: 480px;
  }

#myChart{
  height: 500px;
  width: 1100px;
}

#myDounghtChart{
  font-weight: 900 !important;
}