{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="base" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.10/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body>
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-success ">
        <div class="container">
            <a class="navbar-brand" href="#">Log Viewer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Log Files
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" id="youtility_logs_dropdown" >Youtility Logs</a></li>
                          <li><a class="dropdown-item" id="mobileserives_logs_dropdown" >Mobileservice Logs</a></li>
                          <li><a class="dropdown-item" id="reports_logs_dropdown" >Reports Logs</a></li>
                          <li><a class="dropdown-item" id="errors_logs_dropdown">Error Logs</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  

    {% block content %}
    
    {% endblock content %}

    <div id="youtility_logs" class="custom-width">
          <table id="youtility_logs_table">
            <thead>
              <tr>
                <!-- <th><input type="text" placeholder="Search Timestamp Mon Date,Year" class="form-control" /></th> -->
                <th><input type="text" id="datetimepicker" placeholder="Search Timestamp" class="form-control"/></th>
                <th><input type="text" placeholder="Search Log Level" class="form-control"/></th>
                <th><input type="text" placeholder="Search Method Name" class="form-control"/></th>
                <th><input type="text" placeholder="Search Log Message" class="form-control"/></th>
                <th></th>
              </tr>
              <tr>
                <th>TimeStamp</th>
                <th>Log Level</th>
                <th> Method Name</th>
                <th>Log Message</th>
                <th>View</th>
              </tr>
            </thead>
          </table>
    </div>
    <div id="mobileserives_logs" class="custom-width">
        <table id = "mobileservice_logs_table">
          <thead>
            <tr> 
              <th><input type="text" id="datetimepicker" placeholder="Search Timestamp" class="form-control"/></th>
              <th><input type="text" placeholder="Search Log Level" class="form-control"/></th>
              <th><input type="text" placeholder="Search Method Name" class="form-control"/></th>
              <th><input type="text" placeholder="Search Log Message" class="form-control"/></th>
              <th></th>
            </tr>
            
            <tr>
              <th>TimeStamp</th>
              <th>Log Level</th>
              <th> Method Name</th>
              <th>Log Message</th>
              <th>View</th>
            </tr>
          </thead>
        </table>
    </div>
    <div id="reports_logs" class="custom-width">
      <table id="reports_logs_table">
        <thead>
          <tr>
            <th><input type="text" id="datetimepicker" placeholder="Search Timestamp" class="form-control"/></th>
            <th><input type="text" placeholder="Search Log Level" class="form-control"/></th>
            <th><input type="text" placeholder="Search Method Name" class="form-control"/></th>
            <th><input type="text" placeholder="Search Log Message" class="form-control"/></th>
            <th></th>
          </tr>
          <tr>
            <th>TimeStamp</th>
            <th>Log Level</th>
            <th> Method Name</th>
            <th>Log Message</th>
            <th>View</th>
          </tr>
        </thead>
      </table>
    </div>

    <div id="error_logs" class="custom-width">
      <table id = "error_logs_table">
        <thead>
          <tr>
            <th><input type="text" id="datetimepicker" placeholder="Search Timestamp" class="form-control"/></th>
            <th><input type="text" placeholder="Search Log Level" class="form-control"/></th>
            <th><input type="text" placeholder="Search Method Name" class="form-control"/></th>
            <th><input type="text" placeholder="Search Log Message" class="form-control"/></th>
            <th><input type="text" placeholder="Search Traceback" class="form-control"/></th>
            <th><input type="text" placeholder="Search Exception Name" class="form-control"/></th>
            <th><input type="text" placeholder="Search Log Type" class="form-control"/></th>
            <th></th>
          </tr>
          <tr>
            <th>TimeStamp</th>
            <th>Log Level</th>
            <th> Method Name</th>
            <th>Log Message</th>
            <th>Traceback</th>
            <th>Exception Name</th>
            <th>Log Type</th>
            <th>View</th>
          </tr>
        </thead>
      </table>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.10/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>