footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    position:fixed;
    left:0;
    bottom:0;
    background-color: red;
    width:100%;
    
}

.dropdown-container{
    background-color:blue;
    height:auto;
    width:100%;

}